* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --color-bg: #f5f5f5;
  --second-color-bg: #fdffe6;
  --hover-color: #12f7ff;
  --text-fontsize: clamp(0.5rem, 1.9vw, 2rem);
  --title-fontsize: clamp(0.5rem, 3.5vw, 2rem);
  
}

$bg-color: #250821;
$secondbg-color: #f5f5f5;

@font-face {
  font-family: 'Luminari';
  src: url('../../fonts/luminari/Luminari-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--color-bg);  
  font-family: "Luminari";
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(3rem, auto));
  column-gap: 3%;
  justify-content: center;
  padding-left: 3%;
  padding-right: 3%;
}

.card {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  overflow: hidden;
}

.card .card-body {
  padding: 5% 4% 5% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3.2vw;
  background-color: var(--second-color-bg);
}

.card .card-body button {
  background-color: #18adf2;
  width: 80%;
  height: 10%;
  border: solid 1px;
  border-radius: 25px;
  font-family: 'Luminari';
  box-shadow: 4px 4px 4px #d3d3d3;
  transform-origin: center;
  transition: all 0.3s;
  cursor: pointer;
}

.card .card-body button a {
  font-size: var(--title-fontsize);
  width: 100%;
  height: 100%;
}
.card .card-body button:hover {
  background-color: #18f2e7;
  transform: scale(1.1); 
}

.card .card-body .card-title {
  font-size: var(--title-fontsize);
}

.card .card-body h4 {
  font-size: 2.8vw;
}
.card .card-body h5 {
  font-size: 2.2vw;
}

.card .card-body p {
  font-size: var(--text-fontsize);
}

.image-container {
  display: flex;
  width: auto;
  height: auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.image-container .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


  /*

@media (max-width: 450px) {

  .image-container .card-img {
    aspect-ratio: auto 200 / 300;
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: top;
  
  }
} */

